main {
  width: 56vw;
  max-width: content-max-width;
  border-bottom: border-width solid border-color;
  text-align: center;
  padding: 0 space-base;
}
@media screen and (max-width: 1200px) {
  main {
    width: 80vw;
  }
}
@media screen and (max-width: 720px) {
  main {
    width: 92vw;
    padding: 0 space-small;
  }
}
